*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    font-family: sans-serif;

}

footer, header, nav, section, main{
    display: block;
}
html {
    font-size: 62.5%;
}
body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: $black;
}

h2 {
    font-size: 1.8rem;
}

p {
    margin: 0; 
    font-size: 1.4rem;
    text-align: center;
}

button {
    cursor: pointer;
    background: $button;
    border: none;
    color: $white;
    padding: 1rem 2rem; 
    border-radius: 3px;
    max-width: 50%;
    margin: 0 auto 1rem auto;

    &:hover {
        background: $button-hover;
    }

}