.dropdown {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: .1rem solid $grey;
    border-radius: 4px;
    cursor: pointer;
        &:not(:last-child) {
            margin-right: 1rem;
        }
}