.pricelist {
    @include container;
    display: flex;
    color: $text-color;
    flex-wrap: wrap;
    @include lg {
        flex-wrap: nowrap;
    }

    &__description {
        margin: 2rem 0;
    }
    .pricetable {
        position: relative;
        padding: 2rem;
        border: .1rem solid $grey;
        width: 100;
        margin-bottom: 1rem;
        @include md {
            width: 50%;
            margin-bottom: 0;
        }
        @include lg {
            width: 50%;
            &:not(:last-child) {
                border-right: none;
            }
        }
        display: flex;
        flex-direction: column;

        &__list {
            height: 100%;
            padding-left: 0;
            position: relative; 
            margin-left: 2rem;

            li {
                list-style: none;
                list-style-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' height='.8em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z'%3E%3C/path%3E%3C/svg%3E");
                margin-bottom: 1rem;
                font-size: 1.6rem;
                margin-left: 2.5rem;

            }
        }

        &__name {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.6rem;
        }
        .popular {
            position: absolute;
            width: 100%;
            display: block;
            color: $green;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            text-align: center;
            top: 0.8rem;
            left: 0;
        }

        &__currency {
            font-size: 2.4rem;    
            margin-bottom: 1rem;
            margin-left: .3rem;
            display: inline-block;
            color: $black;
        }

        &__description {
            font-size: 1.8rem;
            margin: 4rem 0 2rem 0;
        }
    }
}