//base 
$container_width: 120rem;

//colors
$white:#ffffff;
$black: #000000;
$grey: #cccccc;
$green: #7db459;

$text-color: #4a4a4a;

$button: #6880dd;
$button-hover: #7d8fd5;


//Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;